 body {
        margin: 0;
        padding: 20px;
        min-height: 100vh;
          /* Propiedades de la imagen de fondo */
        background-image: url("pop-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}

.flex-container{
    display: flex;
    flex-wrap: wrap; /*me coloca los elementos en mas de una linea automaticamente*/
    align-items: center;
    justify-content: center; /*con el anterior me centra los elementos del contenedor*/
}


.columna {
   
    color: white;
    font-weight: bold;
    width: 600px;
    height: 1000px;
    margin: 5px;
    line-height: 120px;
    text-align: center;
    font-size: 25px;
}
        body {
            min-height: 100vh;
            font-family: Arial, sans-serif;
        }

        /* Contenedor principal */
        .container {
            display: flex;
            min-height: 100vh; /* min-height: 100vh asegura que el contenedor ocupe toda la altura de la ventana */
            align-items: center;
        }

        /* Secciones principales */
        .seccion-izquierda,
        .seccion-derecha {
            flex: 1; /* Hace que las secciones ocupen el mismo espacio */
            padding: 20px;
            align-items: center;
        }

        /* Estilos para cada sección */
        
        /* Media queries para diseño responsive */
       

        /* Estilo para los elementos dentro de las secciones */
        .contenido {
            max-width: 500px;
            margin: 0 auto;
            text-align: center;
        }

        h1 {
            color: white;
            margin-bottom: 20px;
            font-size: 2.8rem;
            text-align: center;
        }

          p {
            font-size: 25px;
            margin: 15px;
            color: white;
            text-align: center;
            padding: 20px;
        }

        .boton {
            padding: 10px;
            color: white;
            border: 2px solid white;
            margin: 20px;
            width: 200px;
            text-align: center;
        }

        ul {
            color: white;
            text-align: justify;
            font-size: 21px;
        }

        .subsubtitulos {
          color: white;
        }

        .subsubtitulosmantenimiento {
          color: white;
        }

        h3 {
          color: white;
        }

        table, th, td {
          color: white;
          text-align: justify;
          border: 1px solid;
        }

         @media screen and (max-width: 768px) {
            .container {
                flex-direction: column; /* Apila las secciones verticalmente */
            }

            h1 {
            color: white;
            margin-bottom: 20px;
            font-size: 2.0rem;
            text-align: center;
            }

          p {
            font-size: 20px;
            margin: 15px;
            color: white;
            text-align: center;
            padding: 20px;
          }
          .subtitulos {
            font-size: 1.6rem;
            color: aqua;
            margin: 10px;
            padding: auto;

          }

          .subsubtitulos {
          color: white;display: flex;
          font-size: 0.8rem;
        }

        .subsubtitulosmantenimiento {
          color: white;
          font-size: 0.8rem;
        }

          ul {
            color: white;
            text-align: justify;
            font-size: 15px;
        }
        }

        footer {
            text-align: center;
        }